<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ZBRA-GO Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>

<body>

    <div class="container">
        <h1>ZBRA-GO Admin Panel</h1>
        <hr />
        <form th:action="@{/notification}" method="POST">
            <div class="form-group">
                <label for="notification">Notificação</label>
                <textarea class="form-control" id="notification" name="notification" rows="3"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Enviar</button>
        </form>
    </div>

</body>

</html>